In [24]:
import pandas as pd
import numpy as np
import datetime

### datetime

In [8]:
# 현재 날짜
now = datetime.today().day
now

11

In [10]:
date = datetime(2018,9,29)

In [13]:
print(date.year)
print(date.month)
print(date.day)

2018
9
29

In [25]:
# 시간을 지정한다
time = datetime.time(12,30,19,46319)
time

datetime.time(12, 30, 19, 46319)

In [28]:
# 날짜와 시간을 지정한다
dt = datetime.datetime(2018,9,29,12,30,19,463198)
dt

datetime.datetime(2018, 9, 29, 12, 30, 19, 463198)

### 데이터프레임의 시간관련 기능들
- 기준시  : 1970-01-01 0:0:0 을 0으로 정한 값을 관리한다
- 유닉스 탄생시

In [30]:
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [31]:
# 날짜가 담겨있는 Series생성
a1 = pd.Timestamp(0)
s1 = pd.Series(a1)
s1

0   1970-01-01
dtype: datetime64[ns]

In [38]:
# 나노 세컨드 단위 (초> 1000*밀리세컨드 > 1000*마이크로세컨드 > 1000*나노세컨드)
pd.Timestamp(17800,unit = 's')

Timestamp('1970-01-01 04:56:40')

In [39]:
# 분단위
pd.Timestamp(17800,unit = 'm')

Timestamp('1970-01-13 08:40:00')

In [40]:
# 시간단위
pd.Timestamp(17800,unit = 'h')

Timestamp('1972-01-12 16:00:00')

In [45]:
# 일단위
pd.Timestamp(600,unit = 'M')

Timestamp('2020-01-01 03:00:00')

In [50]:
# 날짜 단위
# 파이썬은 1월~12월
# 다른언어는 0월~ 11월
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [53]:
s1 = pd.Series([10,100,1000,10000,100000])
pd.to_datetime(s1,unit = 'D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
4   2243-10-17
dtype: datetime64[ns]

In [57]:
# 날짜 값이 있는 데이터 프레임 사용
df = pd.DataFrame({
    'year':[2015,2016],
    'month':[2,3],
    'day': [4,5]
})
# 날짜가들어있는 Series를 데이트타임으로 바꿀수있다
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [68]:
# 문자열로 되어있는 값을 날짜로 변환한다
# 날짜형식 : 년-월-일, 월-일-년
s1 = pd.Series(['2018-01-01','02-01-2018','2018/01-01','12-12-2018'])
pd.to_datetime(s1)

0   2018-01-01
1   2018-02-01
2   2018-01-01
3   2018-12-12
dtype: datetime64[ns]

In [70]:
# 위에서 살펴본 오류가 발생한 양식의 문자열의 사용한다
s1 = pd.Series(['02-2018-01','02-2018-02','02-2018-03'])
pd.to_datetime(s1,format = '%m-%Y-%d')

0   2018-02-01
1   2018-02-02
2   2018-02-03
dtype: datetime64[ns]